<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkkAmkhEPqy6hfcc3ZeHlL_ppp5PScDtM</string>
	<key>GCM_SENDER_ID</key>
	<string>677043021782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>forsythe.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todolist-4de9d</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-4de9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677043021782:ios:9ae4f68e6de9a95111a677</string>
</dict>
</plist>